.catalog_container {
    text-align:center;
}

.catalog_item {
    width:150px;
    display:inline-block;
    margin: 0px 5px;
    vertical-align: top;
    max-height:250px;
    overflow:hidden;
}

.catalog_item > a {
    min-height: 50px;
    border: 1px solid #A1A1A1;
    display:inline-block;
}

.catalog_item .stats {
    font-size:0.7em;
}

.catalog_item .subject {
    font-weight:bold;
    font-size:0.9em;
    line-height: 1em;
}

.catalog_item .comment {
    overflow:hidden;
    display:inline-block;
    font-size:0.8em;
    line-height:1em;
    min-height: 1.3em;
}

.postimg {
    max-width:150px;
    max-height:150px;
    height:auto;
    width:auto;
}