body {
    background: #FFFFEE url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAAWElEQVR4AaWSwQ3AIAwDbfbfpdt0nKrPUp3QCfHgkfjsCMh47mskmU5HGvbmuuh9dVce8M4it/SfMZglGeZx/ccyu/Vsv4/N29f331AY5Bi3+hdo4A92+wXvCwR9mXztrAAAAABJRU5ErkJggg==) top center repeat-x;
    color: #800000;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
a.qu {
    color: #800000;
}
a.qu:hover {
    color: #800000;
}
a.qu:visited {
    color: #800000;
}
a {
    color: #0000EE;
}
a:visited {
    color: #0000EE;
}
a:hover {
    color: #DD0000;
}
hr {
    border-color: #D9BFB7;
}
.boardBanner {
    color: #AF0A0F;
}

@media (min-width: 900px) {
    .bannerImg {
        border-color: #000;
    }
}
.theader {
    background-color: orange;
    color: white;
}
.boardSubtitle {
    color: #666666;
}
.globalNews.desktop {
    color: red;
}
.globalNewsM {
    color: red;
}
.boardlist {
    color: #800000;
}
.postarea { 
	opacity: 0.9; 
}
.postblock {
    background: #EEAA88;
    color: #800000;
    border-color: #800000;
}
.postblock {
    background: #EEAA88;
    color: #800000;
    border-color: #800000;
}
.spoiler {
    color: #000;
    background: #000;
}
.spoiler:hover {
    color: #FFF;
}
.managerBanner {
    background: #EEAA88;
    color: #ffffff;
}
.postTable.head {
    background: #AF0A0F;
    color: #FFFFEE;
}
.postlists {
    background: #FFFFFF;
    color: #800000;
}
.row1 {
    background: #EEAA88;
    color: #800000;
}
.row2 {
    background: #FFFFFF;
    color: #800000;
}
.quote {
    color: #789922;
}
.subject {
    color: #CC1105;
}
.name {
    color: #117743;
}
.postertrip {
    color: #117743;
}
.cap.jani {
    color: #4169E1;
}
.cap.moderator {
    color: #770099;
}
.cap.admin {
    color: #FF101A;
}
.cap.manager {
    color: #2E2EFE;
}
.cap.global {
    color: #0096d2;
}
.summary {
    color: gray;
}
.reply {
    background: rgba(240,224,214,1);/*#F0E0D6*/
    color: #800000;
}
.sideArrows {
    color: #B7C5D9;
}
.thumbnailmsg {
    color: #800000;
}
.pages {
    border-color: #800000;
    background: rgba(240,224,214,0.85); /*#F0E0D6*/
    color:#800;
}