body {
    background: #FFFFEE url(/imgs/fade.png) top center repeat-x;
    font-size: 10pt;
    color: #800000;
    font-family: Arial, Helvetica, sans-serif;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
a.qu {
    color: #800000;
    font-size: 10pt;
    text-decoration: none;
}
a.qu:hover {
    font-weight: bold;
    color: #800000;
    font-size: 10pt;
    font-weight: 800;
}
a.qu:visited {
    color: #800000;
    font-size: 10pt;
    text-decoration: none;
}
form {
    margin: 0px 0px 0px 0px;
}
/*^ new to saguaro ^*/

a {
    color: #0000EE;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
a:visited {
    color: #0000EE;
    text-decoration: underline;
    font-family: inherit;
}
a:hover {
    color: #DD0000;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
hr {
    border: none;
    border-top: 1px solid #D9BFB7;
    height: 0;
}
.adminbar {
    text-align: right;
    clear: both;
    float: right;
}
.logo {
    font-family: Tahoma, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 0px;
    width: 100%;
    clear: both;
    text-align: center;
    color: #AF0A0F;
}
.theader {
    text-align: center;
    background-color: orange;
    color: white;
    font-weight: 700;
    width: 100%;
}
.postertrip {
    color: #117743;
    font-weight: 600;
    font-size: 12px;
}
.headsub {
    color: #666666;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.globalnews {
    align-items: center;
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: large;
}
.boardlist {
    color: #800000;
    text-align: left;
}
.postarea { opacity: 0.9; }
.postarea {} .rules {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.postblock {
    background: #EEAA88;
    color: #800000;
    font-weight: bold;
    border: 1px solid #800000;
    padding: 4px;
}
.postblock {
    background: #EEAA88;
    color: #800000;
    border: 1px solid #800000;
    padding: 4px;
}
.spoiler {
    display:inline-block;
    color: #000;
    background: #000;
}
.spoiler:hover {
    color: #FFF;
}
.footer {
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.passvalid {
    background: #EEAA88;
    text-align: center;
    width: 100%;
    color: #ffffff;
}
.dellist {
    text-align: center;
}
.delbuttons {
    text-align: center;
    padding-bottom: 4px;
}
.managehead {
    background: #AF0A0F;
    color: #FFFFEE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px;
}
.postlists {
    background: #FFFFFF;
    width: 100%;
    padding: 0px;
    color: #800000;
}
.row1 {
    background: #EEAA88;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #800000;
}
.row2 {
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #800000;
}
.unkfunc {
    color: #789922;
    text-decoration: none;
}
.filesize {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.filetitle {
    color: #CC1105;
    font-weight: bold;
}
.postername {
    color: #117743;
    font-weight: bold;
}
.cap.moderator {
    color: #770099;
}
.cap.admin {
    color: #FF101A;
}
.cap.manager {
    color: #2E2EFE;
}
.oldpost {
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}
}
.omittedposts {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-weight: 800;
}
.reply {
    background: rgba(240,224,214,0.85); /*#F0E0D6*/
    color: #800000;
    font-family: Arial, Helvetica, sans-serif;
}
.doubledash {
    color: #B7C5D9;
    float: left;
    margin-right: 2px;
    margin-top: 0px;
    margin-left: 2px;
}
.replytitle {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CC1105;
}
.commentpostername {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #117743;
}
.thumbnailmsg {
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #800000;
    padding-left: 20px;
}
.pages {
    border:1px solid #800000;
    background: rgba(240,224,214,0.85); /*#F0E0D6*/
    color:#800;
}
.pages td {
    border:none;padding:1px 5px;
}
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.gallerycontainer {
    position: relative;
    /*Add a height attribute and set to largest image's height to prevent overlaying*/
}
.thumbnail img {
    border: 1px solid white;
    margin: 0 5px 5px 0;
}
.thumbnail:hover {
    background-color: transparent;
}
.thumbnail:hover img {
    border: 1px solid blue;
}
.thumbnail span {
    /*CSS for enlarged image*/
    
    position: absolute;
    background-color: lightyellow;
    padding: 5px;
    /*right: -1000px;*/
    
    border: 1px dashed gray;
    visibility: hidden;
    color: black;
    text-decoration: none;
}
.thumbnail span img {
    /*CSS for enlarged image*/
    
    border-width: 0;
    padding: 2px;
}
.thumbnail:hover span {
    /*CSS for enlarged image*/
    
    visibility: visible;
    /*top: 0;*/
    
    right: 230px;
    /*position where enlarged image should offset horizontally */
    
    z-index: 50;
}