body {
    background: #EEF2FF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAASUlEQVR4AcWRuQ0AIBDDzuy/HAVrMAM9slCorqAJziNgrj2qSg/cGhHnjPqDDPxOfYiebwFj+XobeLGI7p39fW1/Ib58d55Bwh3x9wRv6r75UwAAAABJRU5ErkJggg==) top center repeat-x;
    color: #000000;
}
a {
    color: #34345C;
}
a:visited {
    color: #34345C;
}
a:hover {
    color: #DD0000;
}
hr {
    border-top: 1px solid #B7C5D9;
}
.boardBanner {
    color: #AF0A0F;
}
.boardSubtitle {
    color: inherit;
}
@media (min-width: 900px) {
    .bannerImg {
        border-color: #000;
    }
}
.theader {
    text-align: center;
    background-color: blue;
    color: white;
}
.postarea { 
	opacity: 0.9; 
}
.postblock {
    background: #EEAA88;
    color: #800000;
    border-color: #800000;
}
.postblock {
    background: #9988EE;
    color: #000000;
    border-color: #000;
}
.globalNews.desktop {
    color: red;
}
.globalNewsM {
    color: red;
}
.managerBanner {
    background: #9988EE;
    color: #ffffff;
}
.postTable.head {
    background: #0F8FE1;
    color: #000000;
}
.postlists {
    background: #FFFFFF;
    color: #000000;
}
.row1 {
    background: #9AD2F6;
    color: #000000;
}
.row2 {
    background: #FFFFFF;
    color: #000000;
}
.quote {
    color: #789922;
}
.filetitle {
    color: #0E07B7;
}
.name {
    color: #117743;
}
.postertrip {
    color: #117743;
}
.subject {
    color: #0F0C5D;
}
.cap.jani {
    color: #4169E1;
}
.cap.moderator {
    color: #770099;
}
.cap.admin {
    color: #FF101A;
}
.cap.manager {
    color: #2E2EFE;
}
.cap.global {
    color: #0096d2;
}
.spoiler {
    color: #000;
    background: #000;
}
.spoiler:hover {
    color: #FFF;
}
.oldpost {
    color: #0F0C5D;
}
.summary {
    color: gray;
}
.reply {
    background: rgba(214,218,240,1); /*#D6DAF0;*/
    color: #000000;
}
.sideArrows {
    color: #B7C5D9;
}
.thumbnailmsg {
    color: #000000;
}
.pages {
    border-color: #000;
    background: rgba(214,218,240,0.85); /*#D6DAF0;*/
    color:#89A;
}