body {
    background: #1D1F22;
    color: #C5C8C6;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
a.qu {
    color: inherit;
}
a.qu:hover {
    color: inherit;
}
a.qu:visited {
    color: #800000;
}
a {
    color: #C5C8C6;
}
a:visited {
    color: inherit;
}
a:hover {
    color: inherit;
}
hr {
    border: none;
    border-top: 1px solid #D9BFB7;
    height: 0;
}
.boardBanner {
    color: inherit;
}
.boardSubtitle {
    color: inherit;
}

@media (min-width: 900px) {
    .bannerImg {
        border-color: #000;
    }
}
.theader {
    background-color: #C5C8C6;
    color: #000;
}
.globalNews.desktop {
    color: red;
}
.globalNewsM {
    color: red;
}
.boardlist {
    color: inherit;
}
.postarea { 
	opacity: 0.9; 
}
.postblock {
    background: #282A2E;
    color: #ECECEC;
    border-color: #000;
}
.spoiler {
    color: #000;
    background: #000;
}
.spoiler:hover {
    color: #FFF;
}
.managerBanner {
    background: #FF0000;
    color: #ffffff;
}
.postTable.head {
    background: #595959;
    color: #FFFFEE;
}
.postlists {
    background: #FFFFFF;
}
.postlist td {
    padding: 0px 1px;
    text-align: center;
}
 .row1 {
    background: #A6A6A6;
    color: #000000;
}
.row2 {
    background: #F9F9F9;
    color: #000000;
}
.quote {
    color: #789922;
}
.subject {
    color: #F7ABFF;
}
.name {
    color: #c5c8c6;
}
.postertrip {
    color: #c5c8c6;
}
.cap.jani {
    color: #4169E1;
}
.cap.moderator {
    color: #770099;
}
.cap.admin {
    color: #FF101A;
}
.cap.manager {
    color: #2E2EFE;
}
.cap.global {
    color: #0096d2;
}
.summary {
    color: gray;
}
.reply {
    background: rgba(40,42,46,1); /*#282A2E;*/ 
    color: inherit;
}
.sideArrows {
    color: white;
}
.thumbnailmsg {
    color:#800000;
}
.pages {
    border:1px solid whitesmoke;
    background: rgba(40,42,46,0.85); /*#282A2E;*/ 
    color: whitesmoke;
    
}