.flag{background-image:url(flags.png);background-repeat:no-repeat;display:inline-block;width:16px;height:11px;}
.f-ad{background-position:0 0}
.f-ae{background-position:-16px 0}
.f-af{background-position:-32px 0}
.f-ag{background-position:-48px 0}
.f-ai{background-position:-64px 0}
.f-al{background-position:-80px 0}
.f-am{background-position:-96px 0}
.f-an{background-position:-112px 0}
.f-ao{background-position:-128px 0}
.f-aq{width:18px;height:12px;background-position:-144px 0}
.f-ar{background-position:-162px 0}
.f-as{background-position:-178px 0}
.f-at{background-position:0 -11px}
.f-au{background-position:-16px -11px}
.f-aw{background-position:-32px -11px}
.f-ax{background-position:-48px -11px}
.f-az{background-position:-64px -11px}
.f-ba{background-position:-80px -11px}
.f-bb{background-position:-96px -11px}
.f-bd{background-position:-112px -11px}
.f-be{background-position:-128px -11px}
.f-bf{background-position:-162px -11px}
.f-bg{background-position:-178px -11px}
.f-bh{background-position:0 -22px}
.f-bi{background-position:-16px -22px}
.f-bj{background-position:-32px -22px}
.f-bm{background-position:-48px -22px}
.f-bn{background-position:-64px -22px}
.f-bo{background-position:-80px -22px}
.f-br{background-position:-96px -22px}
.f-bs{background-position:-112px -22px}
.f-bt{background-position:-128px -22px}
.f-bv{background-position:-144px -22px}
.f-bw{background-position:-160px -22px}
.f-by{background-position:-176px -22px}
.f-bz{background-position:-192px -22px}
.f-ca{background-position:0 -33px}
.f-cc{background-position:-16px -33px}
.f-cd{background-position:-32px -33px}
.f-cf{background-position:-48px -33px}
.f-cg{background-position:-64px -33px}
.f-ch{width:11px;height:11px;background-position:-194px 0}
.f-ci{background-position:-80px -33px}
.f-ck{background-position:-96px -33px}
.f-cl{background-position:-112px -33px}
.f-cm{background-position:-128px -33px}
.f-cn{background-position:-144px -33px}
.f-co{background-position:-160px -33px}
.f-cr{background-position:-176px -33px}
.f-cs{background-position:-192px -33px}
.f-cu{background-position:0 -44px}
.f-cv{background-position:-16px -44px}
.f-cx{background-position:-32px -44px}
.f-cy{background-position:-48px -44px}
.f-cz{background-position:-64px -44px}
.f-de{background-position:-80px -44px}
.f-dj{background-position:-96px -44px}
.f-dk{background-position:-112px -44px}
.f-dm{background-position:-128px -44px}
.f-do{background-position:-144px -44px}
.f-dz{background-position:-160px -44px}
.f-ec{background-position:-176px -44px}
.f-ee{background-position:-192px -44px}
.f-eg{background-position:0 -55px}
.f-eh{background-position:-16px -55px}
.f-er{background-position:-32px -55px}
.f-es{background-position:-48px -55px}
.f-et{background-position:-64px -55px}
.f-fi{background-position:-80px -55px}
.f-fj{background-position:-96px -55px}
.f-fk{background-position:-112px -55px}
.f-fm{background-position:-128px -55px}
.f-fo{background-position:-144px -55px}
.f-fr{background-position:-160px -55px}
.f-fx{width:18px;height:12px;background-position:-176px -55px}
.f-ga{background-position:0 -67px}
.f-gb{background-position:-16px -67px}
.f-gd{background-position:-32px -67px}
.f-ge{background-position:-48px -67px}
.f-gf{background-position:-64px -67px}
.f-gg{width:18px;height:12px;background-position:-80px -67px}
.f-gh{background-position:-98px -67px}
.f-gi{background-position:-114px -67px}
.f-gl{background-position:-130px -67px}
.f-gm{background-position:-146px -67px}
.f-gn{background-position:-162px -67px}
.f-gp{background-position:-178px -67px}
.f-gq{background-position:0 -78px}
.f-gr{background-position:-16px -78px}
.f-gs{background-position:-32px -78px}
.f-gt{background-position:-48px -78px}
.f-gu{background-position:-64px -78px}
.f-gw{background-position:-98px -78px}
.f-gy{background-position:-114px -78px}
.f-hk{background-position:-130px -78px}
.f-hm{background-position:-146px -78px}
.f-hn{background-position:-162px -78px}
.f-hr{background-position:-178px -78px}
.f-ht{background-position:0 -89px}
.f-hu{background-position:-16px -89px}
.f-id{background-position:-32px -89px}
.f-ie{background-position:-48px -89px}
.f-il{background-position:-64px -89px}
.f-in{background-position:-80px -89px}
.f-io{background-position:-96px -89px}
.f-iq{background-position:-112px -89px}
.f-ir{background-position:-128px -89px}
.f-is{background-position:-144px -89px}
.f-it{background-position:-160px -89px}
.f-je{width:18px;height:12px;background-position:-176px -89px}
.f-jm{background-position:0 -101px}
.f-jo{background-position:-16px -101px}
.f-jp{background-position:-32px -101px}
.f-ke{background-position:-48px -101px}
.f-kg{background-position:-64px -101px}
.f-kh{background-position:-80px -101px}
.f-ki{background-position:-96px -101px}
.f-km{background-position:-112px -101px}
.f-kn{background-position:-128px -101px}
.f-kp{background-position:-144px -101px}
.f-kr{background-position:-160px -101px}
.f-kw{background-position:-176px -101px}
.f-ky{background-position:-192px -101px}
.f-kz{background-position:0 -112px}
.f-la{background-position:-16px -112px}
.f-lb{background-position:-32px -112px}
.f-lc{background-position:-48px -112px}
.f-li{background-position:-64px -112px}
.f-lk{background-position:-80px -112px}
.f-lr{background-position:-96px -112px}
.f-ls{background-position:-112px -112px}
.f-lt{background-position:-128px -112px}
.f-lu{background-position:-144px -112px}
.f-lv{background-position:-160px -112px}
.f-ly{background-position:-176px -112px}
.f-ma{background-position:-192px -112px}
.f-mc{background-position:0 -123px}
.f-md{background-position:-16px -123px}
.f-me{width:16px;height:12px;background-position:-32px -123px}
.f-mg{background-position:-48px -123px}
.f-mh{background-position:-64px -123px}
.f-mk{background-position:-80px -123px}
.f-ml{background-position:-96px -123px}
.f-mm{background-position:-112px -123px}
.f-mn{background-position:-128px -123px}
.f-mo{background-position:-144px -123px}
.f-mp{background-position:-160px -123px}
.f-mq{background-position:-176px -123px}
.f-mr{background-position:-192px -123px}
.f-ms{background-position:0 -134px}
.f-mt{background-position:-16px -134px}
.f-mu{background-position:-48px -134px}
.f-mv{background-position:-64px -134px}
.f-mw{background-position:-80px -134px}
.f-mx{background-position:-96px -134px}
.f-my{background-position:-112px -134px}
.f-mz{background-position:-128px -134px}
.f-na{background-position:-144px -134px}
.f-nc{background-position:-160px -134px}
.f-ne{background-position:-176px -134px}
.f-nf{background-position:-192px -134px}
.f-ng{background-position:0 -145px}
.f-ni{background-position:-16px -145px}
.f-nl{background-position:-32px -145px}
.f-no{background-position:-48px -145px}
.f-np{width:9px;height:11px;background-position:-194px -11px}
.f-nr{background-position:-64px -145px}
.f-nu{background-position:-80px -145px}
.f-nz{background-position:-96px -145px}
.f-om{background-position:-112px -145px}
.f-pa{background-position:-128px -145px}
.f-pe{background-position:-144px -145px}
.f-pf{background-position:-160px -145px}
.f-pg{background-position:-176px -145px}
.f-ph{background-position:-192px -145px}
.f-pk{background-position:0 -156px}
.f-pl{background-position:-16px -156px}
.f-pm{background-position:-32px -156px}
.f-pn{background-position:-48px -156px}
.f-pr{background-position:-64px -156px}
.f-ps{background-position:-80px -156px}
.f-pt{background-position:-96px -156px}
.f-pw{background-position:-112px -156px}
.f-py{background-position:-128px -156px}
.f-qa{background-position:-144px -156px}
.f-re{background-position:-160px -156px}
.f-ro{background-position:-176px -156px}
.f-rs{background-position:-192px -156px}
.f-ru{background-position:0 -167px}
.f-rw{background-position:-16px -167px}
.f-sa{background-position:-32px -167px}
.f-sb{background-position:-48px -167px}
.f-sc{background-position:-64px -167px}
.f-sd{background-position:-80px -167px}
.f-se{background-position:-96px -167px}
.f-sg{background-position:-112px -167px}
.f-sh{background-position:-128px -167px}
.f-si{background-position:-144px -167px}
.f-sj{background-position:-160px -167px}
.f-sk{background-position:-176px -167px}
.f-sl{background-position:-192px -167px}
.f-sm{background-position:0 -178px}
.f-sn{background-position:-16px -178px}
.f-so{background-position:-32px -178px}
.f-sr{background-position:-48px -178px}
.f-st{background-position:-64px -178px}
.f-sv{background-position:-80px -178px}
.f-sy{background-position:-96px -178px}
.f-sz{background-position:-112px -178px}
.f-tc{background-position:-128px -178px}
.f-td{background-position:-144px -178px}
.f-tf{background-position:-160px -178px}
.f-tg{background-position:-176px -178px}
.f-th{background-position:-192px -178px}
.f-tj{background-position:0 -189px}
.f-tk{background-position:-16px -189px}
.f-tl{background-position:-32px -189px}
.f-tm{background-position:-48px -189px}
.f-tn{background-position:-64px -189px}
.f-to{background-position:-80px -189px}
.f-tp{width:18px;height:12px;background-position:-96px -189px}
.f-tr{background-position:-114px -189px}
.f-tt{background-position:-130px -189px}
.f-tv{background-position:-146px -189px}
.f-tw{background-position:-162px -189px}
.f-tz{background-position:-178px -189px}
.f-ua{background-position:-205px 0}
.f-ug{background-position:-203px -11px}
.f-um{background-position:-208px -22px}
.f-us{background-position:-208px -33px}
.f-uy{background-position:-208px -44px}
.f-uz{background-position:-194px -55px}
.f-va{background-position:-194px -66px}
.f-vc{background-position:-194px -77px}
.f-ve{background-position:-194px -88px}
.f-vg{background-position:-208px -99px}
.f-vi{background-position:-208px -110px}
.f-vn{background-position:-208px -121px}
.f-vu{background-position:-208px -132px}
.f-wf{background-position:-208px -143px}
.f-ws{background-position:-208px -154px}
.f-ye{background-position:-208px -165px}
.f-yt{background-position:-208px -176px}
.f-yu{width:18px;height:12px;background-position:-194px -189px}
.f-za{background-position:0 -201px}
.f-zm{background-position:-16px -201px}
.f-zw{background-position:-32px -201px}